/*
Ayako Shiraishi
*/
* {
    margin: 0;
    padding: 0;
}
    
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}
body {
    font-size: 14px;
    font-family: 'Lato', 'Hiragino Kaku Gothic Pro',  Meiryo, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    background: #eee;
    -webkit-text-size-adjust: 100%;
}
h1{
    font-family: 'Life Savers', cursive;
    font-weight: 800;
    font-size: 2rem;
}

h3{
   font-family: 'Life Savers', cursive; 
   font-size: 1.5rem;
   padding:16px 16px 32px 16px;
}

h4{
  font-size: 1.2rem; 
  font-weight: 300; 
}
#main {
    background: #eee;
    height:100%;
}
#main-in {
    padding-left: 260px;
    height: 100%;
}
#main p {
    margin-bottom: 1em;
    line-height: 1.9;
}
#main .inner {
    padding: 60px;
}

/* main-visual */
#main-visual {
    background-image: url(../img/top.png);
    height:100%;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    animation: bg-color 4s ease infinite alternate;
}

@-webkit-keyframes{
    0%{filter: grayscale(100%); }
    50%{filter: grayscale(60%) ;}
    100%{filter: grayscale(0%) saturate(200%);}
}

@keyframes bg-color{
     0%{filter: grayscale(100%);}
     50%{filter: grayscale(60%);}
    100%{filter: grayscale(0%) saturate(200%);}
}


#main-visual h2 {
    font-family:'Nova Mono', monospace;
    font-size: 3.5rem;
    color: #333;
    text-shadow: white 2px 5px;
}

#copyright a {
    color: #666;
    text-decoration: none;
}
#copyright a:hover {
    text-decoration: underline;
}


#global-head {
    position: fixed;
    color: #033560;
    width: 260px;
    text-align: center;
    padding-top: 60px;
    z-index: 100;
}

#sidebar {
    font-size: 15px;
    font-weight: bold;
    padding-top: 120px;
    width: 260px;
    height: 100%;
    position: fixed;
    color: #033560;
    background: #fff;
    text-align: center;
}

#global-nav ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
#global-nav > ul > li {
    position: relative;
}

#global-nav a {
    font-family: 'Life Savers', cursive;
    color: #033560;
    text-decoration: none;
    display: inline-block;
    padding: 15px 0;
    -moz-transition:.3s ;
    -webkit-transition: .3s ;
    transition: .3s;
}

#global-nav a::after {
  position: absolute;
  bottom: 0;
  left: 35%;
  content: '';
  width: 0%;
  height: 1px;
  background-color: #033560;
  transition: .3s;
}

#global-nav a:hover{
    color:#9999ff; 
}

#global-nav a:hover::after {
    width: 30%;
}
#global-nav #sns li{
    display:inline-block;
    padding-left:8px;

}

#global-nav #sns li#icon-first{
    padding-left: 0;
}

#global-nav #sns a::after{
    display:none;
}

#global-foot {
    padding-top:16px;
    font-family: 'Life Savers', cursive;
    font-weight: bold;
    font-size: 0.5rem;
    color: #333;
} 



#global-nav .sub-menu-nav a,
#global-nav .sub-menu:hover .sub-menu-nav {
    width: 230px;
}
*/
/* sub-menu icon */
#global-nav .sub-menu-head {
    position: relative;
}

#global-nav .sub-menu-head:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 18px;
    margin: auto;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    border-top: 1px solid #033560;
    border-right: 1px solid #033560;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}



/* sub-menu */
#global-nav .sub-menu-nav {
    position: fixed;
    background: #033560;
    color: #fff;
    top: 0;
    padding-top: 90px;
    left: 260px;
    width: 0;
    height: 100%;
    overflow: hidden;
    -moz-transition: width .2s ease-out;
    -webkit-transition: width .2s ease-out;
    transition: width .2s ease-out;
}
#global-nav .sub-menu.is-active > a:after,
#global-nav .sub-menu-head:hover:after {
    border-color: #fff;
}
#global-nav .sub-menu-nav a {
    color: #fff;
}
#global-nav .sub-menu-nav a:hover {
    color: #033560;
    background: #fff;
}


/* nav-toggle */
#nav-toggle {
    display: none;
    position: fixed;
    top: 15px;
    right: 15px;
    height: 32px;
}
#nav-toggle > div {
    position: relative;
    width: 32px;
}
#nav-toggle span {
    width: 100%;
    height: 2px;
    left: 0;
    display: block;
    background: #033560;
    position: absolute;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

#nav-toggle span:nth-child(1) {
    top: 0;
}
#nav-toggle span:nth-child(2) {
    top: 11px;
}
#nav-toggle span:nth-child(3) {
    top: 22px;
}


#about img{
    max-width:200px;
    float: right; 
    margin:32px 32px;
}

.clear{
    clear: both;
}

#skills{
    background-color: #fff;
    width: 100%;
}

.rate1{
    max-width:800px;
    margin: 0 auto;
    padding-left:50px; 
}

.rate_circle{
    display:inline-block;
    margin: 16px 8px 8px 16px;
    text-align: center;
}


ul.list{
   text-align: center;
}

.list li{
    display: inline-block;
    list-style: none;
    padding: 16px;
    width:330px;
}
.list li img{
    opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.list li img:hover{
    opacity: .7;
}


#overlay {
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.contain{
    padding:24px 16px 32px 32px;

}


#contact{
    background-color: #fff;
    text-align: center;
}

form {
    text-align: center;
}
label{
    text-align: left;
}

.contact-box{
    margin:16px;
    width:300px;
    height: 50px;
    border: 1px solid #033560;
    border-radius: 3px;
}

.contact-box2{
    margin:16px;
    width:300px;
    height: 150px;
    border: 1px solid #033560;
    border-radius: 3px;
}

.contact-button{
    width:150px;
    height:px; 
    position: relative;
    left:50%;
    border:1px solid #033560;
    background-color: #033560;
    padding:16px 16px;
    color:#fff;
}

.contact-button a{
    color:#fff;
    text-decoration: none;
}

.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 15px;
}

.pagetop a {
    display: block;
    background-color: #ccc;
    text-align: center;
    color: #222;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 3px 10px;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.pagetop a:hover {
    display: block;
    background-color: #b2d1fb;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    padding:3px 10px;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

@media screen and (max-width: 900px) {
    #main-in {
        padding-left: 0;
    }

    #global-head {
        width: 100%;
        padding: 10px;
        background: rgba(255,255,255,.9);
        display: -webkit-flex;
        display: flex;
    }

    #sidebar {
        /*display: none;*/
        position: fixed;
        right: -300px;
        top: 0;
        height: 100%;
        width: 300px;
        color: #333;
        background: #fff;
        -webkit-transition: .35s ease-in-out;
        transition: .35s ease-in-out;
    }

    /* not open sub-menu */
    #global-nav .sub-menu-head:after,
    #global-nav .sub-menu-nav {
        display: none;
    }
    #nav-toggle {
        display: block;
    }

    /* nav open */
    .open {
        overflow: hidden;
    }
    .open #overlay {
        display: block;
    }
    .open #sidebar  {
        -webkit-transform: translate3d(-300px,0,0);
        transform: translate3d(-300px,0,0);
    }

    /* #nav-toggle close */
    .open #nav-toggle span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .open #nav-toggle span:nth-child(2) {
        width: 0;
        left: 50%;
    }
    .open #nav-toggle span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    /* z-index */
    #overlay {
        z-index: 200;
    }
    #sidebar {
        z-index: 300;
    }
    #nav-toggle {
        z-index: 400;
    }


}

#main-visual h2 {
padding:0 0.5rem;
}
}

@media screen and (max-width: 400px) {
    #sidebar {
        right: -200px;
        width: 200px;
        padding-top: 60px;
    }
    .open #sidebar  {
        -webkit-transform: translate3d(-200px,0,0);
        transform: translate3d(-200px,0,0);
    }
}